html {
    background-color: darkslategray;
    color: whitesmoke;
    font-family:monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    color:pink
}

.nav-link {
    text-decoration: none;
    color:whitesmoke;
}

a { 
    text-decoration: none;
    color:whitesmoke;
}


.project-link:hover {
    background-color: #612a11;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #b4786b;
    margin-top: 0;
}

.nav-list {
    list-style: none;
    padding: 20px;
}

.nav-list:hover {
    background-color: #612a11;
}

.welcome-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


/* Projects Section */

.project-tile-image { 
    height: 300px;  
    max-height: 400px;
}

.projects {
    margin-left: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.web-design {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center;
}

img {
     object-fit:cover;
     object-position: top center;
     border-radius: 1%;
 }

 li {
    font-weight: normal;
 }

 .data-analysis {
    margin-left: 10px;
    margin-right: 10px;
 }

