html {
    background-color: darkslategray;
    color: whitesmoke;
    font-family:monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    color:pink
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #b4786b;
    margin-top: 0;
}

li {
    list-style: none;
    padding: 20px;
}

li:hover {
    background-color: #612a11;
}

.welcome-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
